<form class="filter">
  <select
    name="category"
    id="filter__select"
    #categorySelect
    (change)="filterByCategory($event)"
  >
    <option selected>Select Category</option>
    <option *ngFor="let category of categories">
      {{ category }}
    </option>
  </select>

  <div class="filter__text">
    <input type="text" placeholder="Card title ..." #cardInput />
    <button (click)="filterByTitle(cardInput.value)">Filter</button>
  </div>
  <label for="favourites">
    Favourites
    <input type="checkbox" name="favourites" id="favourites" />
  </label>
</form>
