<app-filter
    (cardFilterTitle)="recieveFilterTitle($event)"
    (cardFilterCategory)="recieveFilterCategory($event)"
    (cardFilterFav)="recieveFilterFav($event)"
></app-filter>

<div class="card__list" *ngIf="!cards.length; else showCards">
    No Cards Yet.
</div>

<ng-template class="card__list_showing" #showCards>
    <p
        *ngIf="
            (filterCat && filterCat !== 'Select Category') ||
            filterTitle ||
            favCheck
        "
    >
        Search for {{ filterTitle }} {{ filterCat }}
        {{ favCheck ? "Favourites" : "" }}
    </p>

    <cdk-virtual-scroll-viewport itemSize="200" class="list-viewport">
        <ul>
            <li
                *cdkVirtualFor="
                    let card of cards
                        | filter: filterTitle
                        | filterCategory: filterCat
                        | filterFav: favCheck
                "
                class="list-item"
            >
                <a [routerLink]="['/cards/' + card.id]">
                    <app-card-detail [card]="card"></app-card-detail>
                </a>
            </li>
        </ul>
    </cdk-virtual-scroll-viewport>
</ng-template>
