<div class="card__container">
  <div class="card__info" *ngIf="card">
    <div class="img__container">
      <img *ngIf="card?.picture" src="{{ card?.picture || '#' }}" alt="pic" />
    </div>
    <div class="card__details">
      <h4 class="card__line">{{ card?.title }}</h4>
      <div class="card__line">Number: {{ card?.cardNumber }}</div>
      <div class="card__line">{{ card?.category }}</div>
      <div class="card__line">{{ card.fav ? "Favourite" : null }}</div>
      <button mat-stroked-button class="card__more_info" (click)="toggle()">
        More...
      </button>
      <div class="card__isOpened" *ngIf="showMore">
        <div class="card__line">{{ card?.name }}</div>
        <div class="card__line">{{ card?.dueDate }}</div>
        <div class="card__line">{{ card.issuer }}</div>
        <p class="card__line">{{ card.notes }}</p>
      </div>
    </div>
  </div>
  <div class="card__actions">
    <div class="card__line card__date">
      {{ card?.dueDate ? "Expires on " + date : "Valid" }}
    </div>
    <a
      mat-stroked-button
      [routerLink]="['/cards', id || card?.id, 'edit']"
      class="primary"
    >
      Edit
    </a>
    <a
      mat-flat-button
      color="warn"
      [routerLink]="['/cards', id || card?.id, 'delete']"
      >Delete</a
    >
  </div>
</div>
