<app-filter
    (cardFilterTitle)="recieveFilterTitle($event)"
    (cardFilterCategory)="recieveFilterCategory($event)"
    (cardFilterFav)="recieveFilterFav($event)"
></app-filter>

<div class="card__list" *ngIf="!cards.length; showCards">No Cards Yet.</div>

<div class="card__list_showing" #showCards>
    <p
        *ngIf="
            (filterCat && filterCat !== 'Select Category') ||
            filterTitle ||
            favCheck
        "
    >
        Search for {{ filterTitle }} {{ filterCat }}
        {{ favCheck ? "Favourites" : "" }}
    </p>
    <ul
        class="card__list"
        *ngFor="
            let card of cards
                | filter: filterTitle
                | filterCategory: filterCat
                | filterFav: favCheck
        "
    >
        <li>
            <a routerLink="{{ card.id }}">
                <app-card-detail [card]="card"></app-card-detail>
            </a>
        </li>
    </ul>
</div>
