<div class="logging__out" *ngIf="isLogged">
    <p>Successfully logged in</p>
    <button (click)="logout()">Log out</button>
</div>

<form [formGroup]="formAuth" *ngIf="!isLogged" (ngSubmit)="login()">
    <fieldset>
        <legend>Login</legend>
        <div class="form-field" *ngFor="let field of formLogin">
            <label>{{ field.label }} </label>
            <input
                name="{{ field.name }}"
                formControlName="{{ field.formControl }}"
                type="{{ field?.type }}"
            />
        </div>
        <div class="form-buttons">
            <button class="button button-primary" (click)="login()">
                Login
            </button>
        </div>
    </fieldset>
</form>
